.createUser {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--tg-vh, 100vh);
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding-bottom: 300px;
}

.navigate {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.avatarCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.infoMessage {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.partSelectorWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  z-index: 3;
}

.partSelectorWrapper.visible {
  transform: translateY(0);
  opacity: 1;
}

.avatarWrapper {
  width: 170px;
  height: 170px;
  max-width: 100%;
  max-height: 100vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #ffa260;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}
