.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 118px;
  max-height: 100vh
}

.avatarWrapper {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  border: 5px solid #362F2D;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #FBC94B;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.avatarCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.infoMessage{
  display: flex;
  flex-direction: column;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nameInput {
  width: 205px;
  height: 34px;
  border: 5px solid #362F2D;
  border-radius: 15px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: #C1C5FE;
  text-align: center;
  background: none;
  font-family: var(--font-base);
  font-weight: 700;
  line-height: 2;
}

.selectPart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.tabIcon {
  width: 100%;
  height: 50px;
  background-color: #FFA260;
  border-color: #362F2D;
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.tabIconImage {
  margin: 0 6px;
}

.activeTab {
  background: #FBC94B;
  border-bottom: 5px solid #FBC94B;
}

.gridWrapper {
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #FBC94B;
  display: flex;
  flex-direction: column;

  border-left: 5px solid #362F2D;
  border-right: 5px solid #362F2D;
  border-bottom: 5px solid #362F2D;
}

.grid {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.partItem {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 12px;
  border: 5px solid #362F2D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);;
}

.partItemSvg {
  width: 100%;
  height: 100%;
}
