.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.nameInput {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 200px;
  text-align: center;
}

.createButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #45a049;
}
