.createUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  height: 100dvh;
  gap: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

.navigate {
  align-self: flex-start;
  padding-left: 20px;
}

.avatarWrapper {
  width: 170px;
  height: 170px;
  max-width: 100%;
  max-height: 100vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #ffa260;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.avatarCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.infoMessage {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
