.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  height: 100dvh;
  gap: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

.avatarWrapper {
  width: 142px;
  height: 142px;
  max-width: 100%;
  max-height: 100vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #fbc94b;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.avatarCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.infoMessage {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-content: start;
}

.partItem {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 12px;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}

.partItemSvg {
  width: 100%;
  height: 100%;
}

@media (min-height: 720px) {
  .main {
    gap: 70px;
    padding-top: 60px;
  }
}
