.cardSkillDescriptions {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 15px;
  border: 5px solid #362f2d;
  padding: 5px;
  position: relative;
  margin: 0 10px 5px 10px;
  max-width: calc(var(--max-width) - 20px);
}

.icon {
  width: 68px;
  flex-shrink: 0;
}

.wrapperImage {
  background: var(--light-gray-primary-color);
  border-radius: 15px;
  border: 5px solid #362f2d;
  width: 70px;
  height: 70px;
  display: flex;
  flex-shrink: 0;
}

.descriptionSkill {
  flex: 1 1 auto;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #292929;
  min-width: 0;
  margin: 5px;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}