.SkillMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  height: var(--tg-vh, 100vh);
  max-height: var(--max-height);
  width: 100%;
  background-color: var(--yellow-primary-color);
  color: var(--color-text);
  overflow: hidden;
}

.scrollArea {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  max-height: none;
  width: 100%;
  height: 100%;
  max-width: var(--max-wight);
  padding: 16px;
  margin-bottom: 10px;
}
