.mainInput {
  width: 100%;
  max-width: 205px;
  height: 34px;
  border: 5px solid #362f2d;
  border-radius: 15px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: #c1c5fe;
  text-align: center;
  background: none;
  font-family: var(--font-base);
  font-weight: 700;
  line-height: 2;
}
