.inputWrapper {
  position: relative;
  display: inline-block;
}

.inputField {
  display: flex;
  align-items: center;
  background-color: #e8eaea;
  border: 5px solid #2c2323;
  border-radius: 25px;
  padding: 6px 10px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.mainInput::placeholder {
  color: #2c2323;
  opacity: 1;
}

.mainInput {
  border: none;
  background: transparent;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2c2323;
  padding: 4px;
  height: 20px;
  width: 220px;
}

.buttonOverlap {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  z-index: 2;
}
