.rewardBox {
  background: #f8f8fa;
  border: 5px solid #362f2d;
  border-radius: 20px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 1.5rem;
}

.rewardBlock {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.rewardIcon {
  width: 70px;
  height: 70px;
}
