.git
.github
.gitignore
.vscode
.idea
.DS_Store

# Логи/кеши
*.log
.eslintcache
.cache
.vite
coverage
*.tsbuildinfo

node_modules
dist
dist-ssr

# Секреты
.env
.env.*

!nginx.conf
!package.json
!yarn.lock
!.yarnrc.yml
!.yarn/**
