.opponentList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}
