.searchBattle {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--tg-vh, 100vh);
  max-height: var(--max-height);
  color: var(--color-text);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-height: 0;
}

.duelInvitesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: auto;
}

.scrollArea {
  flex: 1 1 auto;
  min-height: 0;
  max-height: none;
  width: 100%;
  max-width: var(--max-wigdht);
  padding: 0 0 16px 0;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-top: auto;
  padding-bottom: 10px;
}
