.attack-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 50px;
  border: 2px solid #888;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  width: 80px;
  height: 20px;
}

.attack-sp {
  position: absolute;
  left: 0px;
  top: 0%;
  transform: translateY(-50%);
  background-color: white;
  border: 2px solid #888;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attack-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}
