.attackButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #362f2d;
  border-radius: 15px;
  background-color: var(--btn-color, white);
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.25);
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.attackButtonSelected::after {
  content: "";
  position: absolute;
  inset: 6px;
  border: 5px solid var(--yellow-primary-color);
  border-radius: 10px;
  pointer-events: none;
}

.attackSp {
  position: absolute;
  left: -20px;
  top: 0%;
  transform: translateY(-50%);
  border: 5px solid #362f2d;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: 800;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-secondary-color);
  z-index: 1;
}

.attackSpGray {
  background-color: #686868;  
}

.attackSpNoText {
  color: transparent;    
}

.attackContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}
