.mainButton {
    max-width: 300px;
    height: 48px;
  
    align-items: center;
    justify-content: center;
  
    font-size: 20px;
    font-weight: 800;
    color: #1a1a2d;
    text-decoration: none;
  
    background: linear-gradient(to bottom, #fff8b0 0%, #ffe11a 50%, #f5b21f 100%);
    border-radius: 10px;
    box-shadow:
      inset 0 6px 12px rgba(255, 255, 255, 0.4),
      0 6px 10px rgba(0, 0, 0, 0.25);
  
    border: none;
    cursor: pointer;

    padding: 7px 20px;
    margin-top: 5px;
  }