.mainButton {
  max-width: 300px;
  height: 48px;

  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 800;
  color: #1a1a2d;
  text-decoration: none;

  border: 5px solid #362f2d;
  border-radius: 15px;

  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #fb6b6b;

  cursor: pointer;

  padding: 7px 20px;
  margin-top: 5px;
}
