.mainButton {
  width: 100%;
  height: 67px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-family: var(--font-base);
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;

  border: 5px solid #362f2d;
  border-radius: 15px;

  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #fb6b6b;

  cursor: pointer;

  padding: 7px 20px;
  margin-top: 5px;

  white-space: nowrap;
}
