.roundButton {
  width: 80px;
  height: 80px;
  border: 4px solid #000000;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #fb6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
