.roundButton {
  border: 4px solid #000000;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
