.mainButton {
  min-width: 118px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-family: var(--font-base);
  font-weight: bold;
  color: #362f2d;
  text-decoration: none;

  border: 5px solid #362f2d;
  border-radius: 15px;

  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #d2ff49;

  cursor: pointer;

  padding: 0 20px;
  margin-top: 5px;

  white-space: nowrap;
}
