.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-weight);
  height: 70vw;
  max-height: 500px;
  min-height: 100px;
  margin: 0 auto;
  background: transparent;
  justify-content: flex-end;
}

.monsterZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 87%;
  position: relative;
}

.monsterImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
  cursor: pointer;
  position: relative;
}

.dotWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.outerDot {
  width: 60%;
  aspect-ratio: 5/1;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 70%;
  aspect-ratio: 8/1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
