.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 354px;
  height: 308px;
  margin: 0 auto;
  background: transparent;
  justify-content: flex-end; /* прижимаем детей к низу */
}

.monsterZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 260px;
  position: relative;
}

.monsterImage {
  max-height: 260px;
  object-fit: contain;
  z-index: 2;
  cursor: pointer;
  position: relative;
}

.dotWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.outerDot {
  width: 80%;
  max-width: 354px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 70%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
