.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background: transparent;
  justify-content: flex-end;
}

.monsterZone {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.monsterImage {
  width: 70%;
  height: auto;
  object-fit: contain;
  z-index: 2;
  cursor: pointer;
  position: relative;
  display: block;
  transform: translateY(-20px);
}

.dotWrapper {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  width: 100%;
  height: 19%;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: end;
  justify-content: center;
}

.outerDot {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 70%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
