.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 354px;
  height: 308px;
  margin: 0 auto;
}

.wrapperMonster {
  width: 292px;
  height: 308px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.monsterImage {
  width: 100%;
  height: 240px;
  object-fit: contain;
  z-index: 2;
  cursor: pointer;
}

.dotWrapper {
  margin-top: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.outerDot {
  width: 354px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 250px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
