.barBackground {
  position: relative;
  height: 42px;
  width: 93%;
  max-width: var(--max-wight);
  border: 4px solid #2d2421;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}

.barFill {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.3s ease;
}

.barTitle {
  position: relative;
  padding-left: 10px;
  z-index: 2;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  white-space: nowrap;
}

.barText {
  position: relative;
  padding-right: 10px;
  z-index: 2;
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  pointer-events: none;
}
