.monsterMenu {
  height: var(--tg-vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  max-width: var(--max-width);
  padding-top: 15px;
  position: relative;
  margin: 0 auto;
  z-index: 200;
}

.left {
  padding-left: 10px;
  justify-self: start;
}

.right {
  justify-self: end;
  align-self: start;
  padding-right: 10px;
}

.center {
  justify-self: center;
  align-self: start;
}

.barWrapper {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: -25px;
  top: 30%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 1000;
}

.centerWrapper {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.partSelectorWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}

.partSelectorWrapper.visible {
  transform: translateY(0);
  opacity: 1;
}