.monsterMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--tg-vh, 100vh);
  max-height: var(--max-height);
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: hidden;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  max-width: var(--max-width);
  padding-top: 15px;
  position: relative;
  margin: 0 auto;
  z-index: 200;
}

.left {
  padding-left: 10px;
  justify-self: start;
}

.right {
  justify-self: end;
  align-self: start;
  padding-right: 10px;
}

.center {
  justify-self: center;
  align-self: start;
}

.barWrapper {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: -25px;
  top: 30%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 1000;
}

.centerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.partSelectorWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}

.partSelectorWrapper.visible {
  transform: translateY(0);
  opacity: 1;
}

.avatarMobileContainer {
  max-width: 330px;
  height: 60vw;
  max-height: 300px;
  min-height: 150px;
}

@media (max-height: 700px) {
  .centerWrapper {
    top: 40%;
  }
  .avatarMobileContainer {
    max-width: 290px;
  }
}

@media (max-height: 650px) {
  .centerWrapper {
    top: 33%;
  }
  .avatarMobileContainer {
    max-width: 250px;
  }
}
