.monsterMenu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  padding-top: 15px;
  position: relative;
  margin: 0 auto;
}

.left {
  padding-left: 10px;
  justify-self: start;
}

.right {
  justify-self: end;
  align-self: start;
  padding-right: 10px;
}

.center {
  justify-self: center;
  align-self: start;
}

.barWrapper {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: -25px;
  top: 30%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.centerWrapper {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0;
  transform: translateY(-70px);
}

.partSelectorWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  z-index: 3;
}

.partSelectorWrapper.visible {
  transform: translateY(0);
  opacity: 1;
}
