.arena {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: var(--tg-vh, 100vh);
  width: 100%;
  color: var(--color-text);
  background-color: var(--orange-secondary-color);
}
