.arena {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; 
  background-color: var(--color-bg);
  color: var(--color-text);
  background-image: url('../../assets/images/background-arena.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.comeBackButton {
  width: 90%;
  max-width: 300px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 800;
  color: #1a1a2d;
  text-decoration: none;

  background: linear-gradient(to bottom, #fff8b0 0%, #ffe11a 50%, #f5b21f 100%);
  border-radius: 10px;
  box-shadow:
    inset 0 6px 12px rgba(255, 255, 255, 0.4),
    0 6px 10px rgba(0, 0, 0, 0.25);

  border: none;
  cursor: pointer;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.logoPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  padding-top: 100px;
  box-sizing: border-box;

  color: rgb(227, 231, 233);
  font-size: 16px;
  font-weight: bold;
}