.wrapperButton {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  row-gap: 1px;
  column-gap: 35px;
  border-radius: 15px;
  border: 5px solid #362f2d;
  margin-top: auto;
  width: 100%;
  max-height: 375px;
  min-height: 240px;
  max-width: var(--max-wight, 500px);
  background-color: var(--blue-primary-color);
  box-sizing: border-box;
}