.header {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  border: 5px solid #362f2d;
  border-top: none;
  box-shadow: 0 4px 0 0 #362f2d55;
  height: 93px;
  width: 100%;
  max-width: var(--max-width, 500px);
  min-width: 300px;
  margin-bottom: 28px;
  box-sizing: border-box;
  background-color: var(--green-secondary-color);
  transition: background 0.15s;
}

.statBars {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 64px;
  width: max-content;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.side {
  display: grid;
  justify-items: center;
}

.statusPill {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  min-width: 100px;
  padding: 6px 14px;
  border-radius: 17px;
  border: 5px solid #362f2d;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  overflow: hidden;
}

.statusMyTurn {
  background: var(--blue-primary-color);
}

.statusEnemyTurn {
  background: var(--red-primary-color);
}

.statusMyTurn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--fill, 0%);
  background: #cbccd3;
  opacity: 0.5;
  border-radius: 15px;
  pointer-events: none;
}
