.main { 
  display: 'flex'; 
  flex-direction: 'column'; 
  align-items: 'center'; 
}

.wrapperButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.attackButton {
  color: #e8e8ee;
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  background: #6c6ace;
  border: 2px solid #000;
  border-radius: 8px;
  transition: transform 0.1s ease, background-color 0.2s;
}

.attackButton:hover {
  background-color: #7c7bd698;
}

.attackButton:active {
  transform: scale(0.97);
}

.healthBar {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #555;
  border-radius: 5px;
  overflow: hidden;
}

.healthFill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}