.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapperButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.attackButton {
  color: #e8e8ee;
  width: 130px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  background: #6c6ace;
  border: 2px solid #000;
  border-radius: 8px;
  transition:
    transform 0.1s ease,
    background-color 0.2s;
}

.attackButton:hover {
  background-color: #7c7bd698;
}

.attackButton:active {
  transform: scale(0.97);
}

.statBars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px 80px;
  width: fit-content;
  margin: 0 auto;
}

.phaserContainerWrapper {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastActionOverlay {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.yourOverlay {
  top: 10px;
  left: 100px;
  transform: translate(-50%, 0);
}

.opponentOverlay {
  top: 10px;
  left: 300px;
  transform: translate(-50%, 0);
}
