.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 14px;
  padding: 16px;
  min-width: 320px;
  min-height: 400px;
}

.card {
  background: #fff;
  border-radius: 15px;
  border: 5px solid;
  box-shadow: 0px 6px 0px 0px #362f2d55;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 65px;
  object-fit: contain;
  margin-bottom: 6px;
}

.name {
  font-size: 14px;
  color: #444;
  text-align: center;
  margin-top: 2px;
}
