.mutagensMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--tg-vh, 100vh);
  max-height: var(--max-height);
  width: 100%;
  background-color: #fbc94b;
  color: var(--color-text);
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0;
  box-sizing: border-box;
}

.gridWrapper {
  flex: 1 1 auto;
  width: 100%;
  max-width: 600px;
  min-height: 0;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-top: auto;
  padding-bottom: 10px;
}
