.cardFeedMonster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ededed;
  border: 5px solid #362f2d;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  height: 80px;
  width: 95%;
  max-width: var(--max-weight);
  box-sizing: border-box;
  overflow: visible;
}

.wrapperImage {
  background: #ff968d;
  border-radius: 15px;
  border: 5px solid #362f2d;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -5px;
  z-index: 1;
}

.monsterImage {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.satietyInfo {
  color: #362f2d;
  font-size: 16px;
  font-weight: 700;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  min-width: 0;
}

.buttonWrapper {
  margin-left: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: -5px;
}

.feedButton {
  width: 114px;
  height: 80px;
  border-radius: 18px;
  background: #ff5ca4;
  border: 5px solid #362f2d;
  font-size: 16px;
  font-family: var(--font-base);
  font-weight: 700;
  color: #362f2d;
  cursor: pointer;
  transition: background 0.15s;
}

.feedButton:disabled,
.feedButtonDisabled {
  background: #686868 !important;
  cursor: not-allowed;
  opacity: 0.9;
}

.satietyLow {
  background: #ff7878;
} /* 0–25 */
.satietyMid {
  background: #ffbb58;
} /* 25–50 */
.satietyHigh {
  background: #7bdfff;
} /* 50–75 */
.satietyFull {
  background: #57e065;
} /* 75–100 */
