.activeCheckbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.activeCheckbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--green-primary-color);
}

.activeCheckbox input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid var(--green-primary-color);
  display: grid;
  place-items: center;
}
.activeCheckbox input[type="checkbox"]::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 0.15s ease-out;
  background: var(--green-primary-color);
}
.activeCheckbox input[type="checkbox"]:checked::after {
  transform: scale(1);
}
