.selectPart {
  display: flex;
  flex-shrink: 0;
  max-width: 500px;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabIcon {
  width: 100%;
  height: 50px;
  background-color: #ffa260;
  border-color: #362f2d;
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.tabIconImage {
  margin: 0 6px;
}

.activeTab {
  background: #fbc94b;
  border-bottom: 5px solid #fbc94b;
}

.gridWrapper {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fbc94b;
  display: flex;
  flex-direction: column;

  border-left: 5px solid #362f2d;
  border-right: 5px solid #362f2d;
  border-bottom: 5px solid #362f2d;
}
