.laboratory {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--tg-vh, 100vh);
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.avatarWrapper {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #ffa260;
  overflow: hidden;
  margin-inline: auto;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperCharacteristics {
  display: flex;
  max-width: 1100px;
  padding-top: 10px;
  margin: auto;
}

.characteristic {
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.selectMonsters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.selectMonsters button {
  margin: 10px;
}

.bottomMenu {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding-bottom: 5px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}

.menuItem {
  width: 56px;
  height: 56px;
  background: #ffc941;
  border-radius: 12px;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}

.activeText {
  font-weight: bold;
  color: #62d643;
  margin-top: 4px;
}
