.laboratory {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: var(--tg-vh, 100vh);
  max-height: var(--max-height);
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  width: 100%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  gap: 8px;
}

.headerBtnCreate {
  grid-column: 1;
  grid-row: 1;
}

.avatarWrapper {
  grid-column: 2;
  grid-row: 1;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #ffa260;
  overflow: hidden;
  margin-inline: auto;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerBtnStatBar {
  grid-column: 3;
  grid-row: 1;
}

.headerStatBarMain {
  grid-column: 1 / 4;
  grid-row: 2;
}

.centerContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatarMobileContainer {
  width: clamp(150px, 70vw, 340px);
  flex: 0 0 auto;
}

.selectMonsters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.selectMonsters button {
  margin: 10px;
}

.bottomMenu {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}

.menuItem {
  width: 56px;
  height: 56px;
  background: #ffc941;
  border-radius: 12px;
  border: 5px solid #362f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}

.activeText {
  font-weight: bold;
  color: #62d643;
  margin-top: 4px;
}
