.laboratory {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 24px;
  text-align: center;
}

.logoPlaceholder {
  color: rgb(40, 42, 43);
}

.petsList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.petCard {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background: #f0f0f0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.petImage {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #fff;
}

.selectedCard {
  border: 2px solid #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}

.createPetCard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #e0ffe0;
  cursor: pointer;
  transition: background 0.3s;
}
.createPetCard:hover {
  background: #c8f7c8;
}

.avatarWrapper {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  border: 5px solid #362F2D;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.40);
  background: #FBC94B;
  overflow: hidden;
}
