.header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  border: 5px solid #362f2d;
  border-top: none;
  box-shadow: 0px 6px 0px 0px #362f2d55;
  height: 93px;
  width: 100vw;
  max-width: var(--max-wigdht, 500px);
  min-width: 300px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: background 0.15s;
}

.headerIcon {
  width: 66px;
  height: 66px;
  margin-left: 16px;
  flex-shrink: 0;
}

.headerTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  font-size: 24px;
  align-items: center;
}

.headerButton {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 16px;
}
