.wrapper {
  background-color: #ff82a9;
  border: 5px solid #362f2d;
  border-radius: 12px;
  padding: 10px;
  width: 92px;
  height: 128px;
  font-family: var(--font-base);
  color: white;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
}

.level {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.charLine {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.icon {
  width: 14px;
  height: 14px;
}
