.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  margin: 10px 0;
}

.carouselItem {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  border: 4px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.carouselItemSelected {
  border-color: #e6e930;
}

.wrapperCreateMenu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.nameInput {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.buttonLeftRight {
  height: 60px;
  padding: 0 16px;
  font-size: 20px;
  border: none;
  background-color: #ffda3a;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.buttonLeftRight:active {
  transform: scale(0.94);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
