.createMonster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100dvh;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;
}

.exitButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.characteristicMonster {
  margin-top: 10px;
}

.centerWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 200;
  margin-top: -60px;
  transition: margin-top 0.3s ease;
}

.imageOverlap {
  position: absolute;
  top: 50%;
  right: -20px;
  top: 10px;
  transform: translateY(-50%);
  height: 60px;
  width: auto;
  pointer-events: none;
  z-index: 2;
}

.wrapperMonster {
  width: 193px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.dotWrapper {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.outerDot {
  width: 300px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 180px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.3); /* Почти чёрный */
  border-radius: 50%;
}

.inputWrapper {
  padding: 10px;
  margin: auto;
}
