.laboratory {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; /* Центрирует по вертикали */
  padding: 24px;
  text-align: center;
  color: azure;
  background: radial-gradient(circle, #0B5EA3 0%, #0B5EA3 40%, #2c2d42 80%);
}

.logoPlaceholder {
  color: rgb(244, 251, 255);
}

.nameInput {
  padding: '8px';
  margin-right: '10px';
  border-radius: '6px';
  border: '1px solid #ccc',
}