.createMonster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100dvh;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.centerWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.barWrapper {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.imageOverlap {
  position: absolute;
  top: 50%;
  right: -20px;
  top: 10px;
  transform: translateY(-50%);
  height: 60px;
  width: auto;
  pointer-events: none;
  z-index: 2;
}

.wrapperMonster {
  width: 193px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.dotWrapper {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.outerDot {
  width: 300px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 180px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.3); /* Почти чёрный */
  border-radius: 50%;
}

.inputWrapper {
  padding: 10px;
  margin: auto;
}