.laboratory {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.navigate {
  padding-top: 10px;
  align-self: flex-end;
  padding-right: 20px;
}

.wrapperMonster {
  width: 193px;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.dotWrapper {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.outerDot {
  width: 354px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDot {
  width: 250px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.3); /* Почти чёрный */
  border-radius: 50%;
}

.inputWrapper {
  padding: 10px;
  margin: auto;
}
