.loadingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.lottieWrapper {
  width: 240px;
}

.labelIcon {
  margin-top: 20px;
  height: 50px;
}
