.mainCharacter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 24px 0;
  }

.characterWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 48px;
    align-items: center;
  }
  
.characterStats {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
.characterStats div {
    width: 64px;
    height: 24px;
    background-color: #ccc;
    border-radius: 6px;
  }
  
.characterImage {
    width: 35vw;
    height: 50vw;
    max-width: 160px;
    max-height: 240px;
    background-color: #bbb;
    border-radius: 12px;
  }

.mainButtons {
    display: flex;
    gap: 16px;
  }
  
.createButton {
    width: 192px;
    height: 48px;
    background-color: #999;
    border-radius: 12px;
  }