:root {
  --font-base: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button-bg: #333;

  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #ffffff;
    --color-link: #646cff;
    --color-link-hover: #747bff;
    --color-button-bg: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  align-items: center;    
  justify-content: center;  
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
}


a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

button {
  background-color: var(--color-button-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
