:root {
  --font-base: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-text: #213547;
  --color-bg: #ffffff;
  --color-link: #646cff;
  --color-link-hover: #747bff;
  --color-button-bg: #f9f9f9;

  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  display: block;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

button {
  background-color: var(--color-button-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
