@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-base: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-text: #213547;
  --color-bg: #616cff;
  --color-link: #646cff;
  --color-link-hover: #747bff;
  --color-button-bg: #f9f9f9;
  --tg-vh: 100vh;
  --max-height: 1000px;
  --max-wight: 500px;

  --wh-button-bg: #f9f9f9;

  --blue-primary-color: #616cff;
  --blue-secondary-color: #67F2FF;
  --green-primary-color: #5ff55a;
  --pink-secondary-color: #ff6ba8;
  --yellow-primary-color: #fbc94b;
  --red-primary-color: #fb6b6b;
  --green-secondary-color: #d2ff49;
  --orange-secondary-color: #fd9a48;
  --white-primary-color: #f9f9f9;
  --light-gray-primary-color: #e8eaea;
  --orange-scale-hungry: #f96816;
  --caribbean-green-scale-energy: #04FFBC;

  font-family: var(--font-base);
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  display: block;
}
