.laboratory {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует по горизонтали */
  justify-content: center; /* Центрирует по вертикали */
  padding: 24px;
  text-align: center;
}

.logoPlaceholder {
  color: rgb(40, 42, 43);
}